<p>To complete your Todi registration, please follow the link below:</p>

<p><a href="http://todi.herokuapp.com/register/<%= @registrant.code %>">http://todi.herokuapp.com/register/<%= @registrant.code %></a></p>

<p>This link will expire (7 hours from sent time).</p>

<p>If you received this message in error, simply do nothing.</p>

<p>- The Todi server -</p>
