<header>
	<div class="row">	
		<%= link_to image_tag("brand.png", class: "brand"), root_url %>
			<nav class="menu_right">
				<ul>
					<li>Settings</li>
					<li>Me</li>
					<li><%= link_to 'Sign In', login_path %>
						<ul>
							<li>
								<%= link_to 'Logout', logout_path %>
							</li>
						</ul>
					</li>	

				</ul>
		</nav>	
	</div>	
</header>